@import '../globals/vars';
@import '../globals/mixins';

.Header {
    --angle: 0deg;
    height: 3.5rem;
    width: 100%;
    background: $header--bg;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 15;

    @include tablet {
        justify-content: space-between;
    }

    .Header--logo {
        @include tablet {
            display: none;
        }
    }

    .Header--mini-logo {
        width: 2.6rem;
        margin-left: 2rem;

        @include desktop {
            display: none;
        }
    }

    button {
        position: absolute;
        right: 2.5rem;
        font-weight: bold;
    }

    img {
        cursor: pointer;
    }
}

.Header--custom {
    width: 100%;
    position: absolute;
    bottom: -0.5rem;
    background-image: linear-gradient(#101010, rgba(55, 30, 88, 0.9));
    height: .5rem;
}

.Header--container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
        display: none;
    }
}

.Header--logo {
    width: 15rem;
    margin-top: 0.5rem;
}

.Header--mini-logo {
    width: 10rem;
}